/* Container for the grid */
#grid {
  border-collapse: collapse;
  margin: 20px auto;
}

/* Each cell */
.cell {
  width: 30px;
  height: 30px;
  background-color: lightskyblue;
  border: 1px solid #999;
  padding: 0;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  user-select: none;
}

.cell.empty {
  background-color: lightgray;
  color: green;
}

.cell.yellow {
  background-color: yellow;
  color: black;
}

.cell.orange {
  background-color: orange;
  color: black;
}

.cell.red {
  background-color: red;
  color: white;
}
